body{
    background-image: url("student_panel_bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}
h1{
    text-align: center;
    color: 	#BB2649;
    font-family: 'Brush Script MT', cursive;
}
#info{
margin-top: 40px;
margin-bottom: 2px;
color:	#6667AB;
}
.pp{
    width: 280px;
    height: 550px;
    border: solid thick #182c61;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    position: fixed;
}
#photo{
    width: 220px;
    height: 220px;
    border-radius: 50%;
}
#file{
    display: none;
}
#upload{
    position: absolute;
    width: 16px;
    height: 17px;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
    color: #FFF;
    background-color: rgb(173,172,172,0.801);
    box-shadow:2px 4px 4px rgb(0,0,0,0.644);
}
#student_info{
    padding-top: 20px;
}
.assingmentsupload{
    float: left;
    clear: both;
    margin-left: 400px;
    margin-right: 300px;
    margin-top: 80px;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    color: midnightblue;
}
#files{
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 200px);
    grid-gap: 10px;
}
#fileimg{
    cursor: pointer;
    color: midnightblue;
    background-color: snow;
    box-shadow:2px 4px 4px rgb(0,0,0,0.644);
}
#submit1{
    background-color: #BB2649;;
    border: none;
    border-radius:20px;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
#submit1:hover {
    transform: scale(1.1);
}
#result {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0;
}
.thumbnail {
    height: 200px;
    object-fit: cover;
}
.visit-button {
    background-color: lightgrey;
    border: solid #6667AB 4px;
    color: darkslategray;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Brush Script MT', cursive;
}
.visit-button:hover {
    opacity: 0.8;
}
